<div>
	<h2 class="margin-0010">Some of our clients</h2>
	<div class="card-row">
		<a href="https://forallhers.com/">
			<div class="card logo-card">
				<div>
					<img src="../assets/images/allhers.svg" alt="Allhers logo">
				</div>
				<div>
					<p>Marketplace where women can buy, sell and recommend.</p>
				</div>
			</div>
		</a>
		<a href="https://www.mixlife.com/">
			<div class="card logo-card">
				<div>
					<img src="../assets/images/mixlife.svg" alt="Mixlife logo">
				</div>
				<div>
					<p>Marketplace where anyone can find and book creative online workshops.</p>
				</div>
			</div>
		</a>
		<a href="https://www.hotpatch.com/">
			<div class="card logo-card">
				<div>
					<img src="../assets/images/hotpatch.svg" alt="Hotpatch Logo">
				</div>
				<div>
					<p>Marketplace for renting underused workspaces for all needs.</p>
				</div>
			</div>
		</a>
	</div>
</div>