---
layout: wrapper
---

{% include welcome-mat.html %}
<div class="max-row flying-text">
	<svg class="svg-object" viewBox="0 0 1098.72 200" style="color: #FFF;font-size: 100px;">
	  <path transform="translate(0,100)" id="curve" fill="transparent" d="M0.17,0.23c0,0,105.85,77.7,276.46,73.2s243.8-61.37,408.77-54.05c172.09,7.64,213.4,92.34,413.28,64.19"></path>
	  <text width="100%" style="transform:translate3d(0,0,0);text-transform: uppercase;">
	      <textPath class="text-object" fill="#FFF" style="transform:translate3d(0,0,0);" alignment-baseline="top" xlink:href="#curve" startOffset="1200px" id="text-path">École Normale Supérieure, 45 Rue d'Ulm, 75005 Paris</textPath>
	  </text>
	</svg>
</div>
<div class="big-row">
	<div class="sections">
		<div class="section">
			<h2>Join us in Paris</h2>
			<p>Enjoy a full day of educational talks focused on Ethereum Development, NFTs, and DAOs. Workshops and talks with leaders of the Ethereum ecosystem. Networking and community- building opportunities with a bunch of cool bits! As Ethereum Magicians we will be keeping the vibe with the best cupcakes. Thanks to our sponsors we will be providing coffee, refreshments and food. We will be giving away POAP tokens, cool stickers and more. We’re also working with Optimism on photo gifts and a few extras!</p>
			<br>
			<br>
			<a href='{{ site.ticket }}' class="btn primary-btn">{{ site.cta }}</a>
		</div>
		<div class="section">
			<h2>Time and place</h2>
			<p><strong>Time:</strong></p>
			<p>Wed July 21, 2021 – from 9am to 6pm</p>
			<p><strong>Place:</strong></p>
			<a href="https://goo.gl/maps/ESadhm6Ncw57Rvxg6" style="font-size: 20px;line-height: 1.5;">École Normale Supérieure</a><br><p>45 Rue d'Ulm <br>75005 Paris <br>France</p>
			<div class="margin-2" id='map' style='width: 100%; height: 400px;'></div>
			<p>If you are at EthCC you can easily come by as the ETHécole venue is only 15 mins walking distance from Maison de la Mutualité. <a href="https://www.google.fr/maps/dir/Maison+de+la+Mutualité,+Rue+Saint-Victor,+Paris/École+Normale+Supérieure,+45+Rue+d'Ulm,+75005+Paris/@48.8476467,2.3476887,16z/data=!4m14!4m13!1m5!1m1!1s0x47e671e4331ed5b5:0x2a595de9d6bf634b!2m2!1d2.350635!2d48.848713!1m5!1m1!1s0x47e671e99512085d:0x3b69748ca3b78f0d!2m2!1d2.3451689!2d48.8422058!3e2">Click here to see the route from EthCC.</a></p>
		</div>
		<div class="section">
			<h2>Speakers</h2>
			<p>
				{% for speaker in site.data.speakers %}
					{% if speaker.url %}
						<a href="{{ speaker.url }}">{{ speaker.name }}</a>
					{% endif %}
					{% unless speaker.url %}
					  {{ speaker.name }}
					{% endunless %}
				{% endfor %}
			and more to be announced!</p>
		</div>
		
		<div class="section">
			<h2>Schedule</h2>
			<a href='https://docs.google.com/spreadsheets/d/12H4KChC2TKPSnEVMxaQgqaBeqd4Gbsn6BUt8DEeLRvc/edit?usp=sharing' class="btn primary-btn">See the full schedule</a>
		</div>
		<div class="section">
			<h2>Safety first</h2>
			<p>
				We are aware of the situation going on in the world with new Delta strain. We will do our best to make sure that people are safe. At registration we will be checking body temperature with a thermometer, at the venue we will be providing hand sanitisers. Please bring your own mask.
			</p>
			<p>
				Need to take a COVID test? <a href="https://www.sante.fr/cf/centres-depistage-covid/departement-75-paris.html">Check out Paris testing locations.</a>
			</p>
		</div>
		<div class="section">
			<h2>Sponsors</h2>
			<p>
				{% for sponsor in site.data.sponsors %}
					{% if sponsor.url %}
						<a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
					{% endif %}
					{% unless sponsor.url %}
					  {{ sponsor.name }}
					{% endunless %}
				{% endfor %}
			</p>
		</div>
		<div class="section">
			<h2>Organisers</h2>
			<p>
				The event is organised by Ethereum Magicians, David Mihal, Kalle Moen and crew. Special thanks to Vincent Danos (Département d’Informatique de l’École Normale Supérieure) for helping us set up the event.
			</p>
		</div>
		<div class="section">
			<h2>Official Telegram group</h2>
			<a href='https://t.me/ETHMagicians' class="btn primary-btn">Join group</a>
		</div>
	</div>
</div>


